@media screen and (max-width:460px) {
    .products-carousel{
        margin: 15px 0;
        .scrollDiv{
            padding: 10px;
            display: flex;
            align-items: center;
            

            .itemsContainer{
                width: 100%;
                display: flex;
                overflow-x: scroll;
                column-gap: 1rem;
                padding: 15px 25px 15px 0;
                &::-webkit-scrollbar{display: none;}
                &::-webkit-scrollbar-button{display: none;}
                &::-webkit-scrollbar-thumb{
                    display: none;
                }
                &::-webkit-scrollbar-track{display: none;}
                &::-webkit-scrollbar-track-piece{display: none;}

                .item-card{
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    background-color: #F3F2F2;

                    .img-container{
                        overflow: hidden;
                        border-radius: 5px 5px 0 0;
                        height: 170px;
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px 5px 0 0;
                            transition: transform 0.3s ease-in;
                        }

                        &:hover{
                            overflow: hidden;
                            transition: 0.3s ease-in;
                            img{
                                transform: scale(1.1);
                                border-radius: 5px 5px 0 0;
                            }
                        }
                    }

                    .info-container{
                        padding: 5px 10px;
                        width: 140px;
                        background-color: #F3F2F2;
                        height: max-content;
                        .card-heading{
                            font-weight: 600;
                            font-size: 18px;
                            margin: 5px 0;
                        }

                        .product-price{
                            font-weight: 900;
                            font-size: 18px;
                        }
                    }

                    &:hover{
                        background-color: #fff;
                        .info-container{
                            background-color: #fff;
                        }
                    }
                }
            }

            .move-products-btn{
                position: absolute;
                z-index: 300;
                padding: 5px;
                border-radius: 5px;
                font-size: 18px;
                border: none;
                background-color: #ffffff;
                display: none;

                &:hover{
                    background-color: #fff;
                }
            }

            .move-right-btn{
                position: absolute;
                right: 0;
            }
            .move-left-btn{
                position: absolute;
                left: 0;
            }

            &:hover{
                transition: .3s ease-in-out;
                .move-products-btn{
                    display: block;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}

@media (min-width:460px){
    .products-carousel{
        margin: 15px 0;
        max-width: 1000px;
        margin: 0 auto;
        .scrollDiv{
            padding: 10px 0 10px 12px;
            display: flex;
            align-items: center;
            position: relative;

            .itemsContainer{
                width: 100%;
                display: flex;
                overflow-x: scroll;
                column-gap: 1rem;
                padding: 15px 25px 15px 0;
                &::-webkit-scrollbar{display: none;}
                &::-webkit-scrollbar-button{display: none;}
                &::-webkit-scrollbar-thumb{
                    display: none;
                }
                &::-webkit-scrollbar-track{display: none;}
                &::-webkit-scrollbar-track-piece{display: none;}

                .item-card{
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    background-color: #F3F2F2;
                    cursor: pointer;

                    .img-container{
                        overflow: hidden;
                        border-radius: 5px 5px 0 0;
                        height: 200px;
                        width: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px 5px 0 0;
                            transition: transform 0.3s ease-in;
                        }

                        &:hover{
                            overflow: hidden;
                            transition: 0.3s ease-in;
                            img{
                                transform: scale(1.1);
                                border-radius: 5px 5px 0 0;
                            }
                        }
                    }

                    .info-container{
                        padding: 5px 10px;
                        width: 185px;
                        background-color: #F3F2F2;
                        height: max-content;
                        .card-heading{
                            font-weight: 600;
                            font-size: 22px;
                            margin: 5px 0;
                        }

                        .product-price{
                            font-weight: 900;
                            font-size: 24px;
                        }
                    }

                    &:hover{
                        background-color: #fff;
                        .info-container{
                            background-color: #fff;
                        }
                    }
                }
            }

            .move-products-btn{
                position: absolute;
                z-index: 300;
                padding: 5px;
                border-radius: 5px;
                font-size: 18px;
                border: none;
                background-color: #ffffff;
                display: none;
                cursor: pointer;

                &:hover{
                    background-color: #fff;
                }
            }

            .move-right-btn{
                position: absolute;
                right: 0;
            }
            .move-left-btn{
                position: absolute;
                left: 0;
            }

            &:hover{
                transition: .3s ease-in-out;
                .move-products-btn{
                    display: block;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}