@media screen and (max-width:460px) {
    .ad{
        width: 100%;
    }
    .carousel{
        width: 100px;
        margin: 0 auto;

        .thumbs-wrapper{
            display: none;
        }

        .slide.selected {
            opacity: 1; 
            width: 100%; 
          }
    }
}

@media (min-width:460px) and (max-width:680px){
    .ad{
        width: 100%;
    }
    .carousel{
        width: 100px;
        margin: 0 auto;

        .thumbs-wrapper{
            display: none;
        }

        .slide.selected {
            opacity: 1; 
            width: 100%; 
          }
    }
}

@media (min-width:680px) and (max-width:800px){
    .ad{
        width: 100%;
    }
    .carousel{
        width: 100px;
        margin: 0 auto;

        ul{
            li{
                img{
                    height: 450px;
                }
            }
        }

        .thumbs-wrapper{
            display: none;
        }

        .slide.selected {
            opacity: 1; 
            width: 100%; 
          }
    }
}