@media screen and (max-width:460px) {
    .ad{
        width: 100%;
    }
    .carousel{
        width: 100px;
        margin: 0 auto;

        .thumbs-wrapper{
            display: none;
        }

        .slide.selected {
            opacity: 1; 
            width: 100%; 
          }
    }
}