.product-listing{
    max-width: 1200px;
    margin: 0 auto;

    .filter-sidebar{
        background-color: white;
    }
    .all-products{
        padding: 15px 0;
        grid-template-columns: repeat(1,1fr);
        display: grid;

        .product-card{
            width: 85%;
            min-width: 200px;
            height: 85%;
        }
    }
}

@media screen and (max-width:560px) {
    
    .product-listing{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        .filters-on-btn{
            font-size: 16px;
            font-weight: 700;
            display: flex;
            align-items: center;
            padding: 0 10px;
            margin-top: 10px;
            margin-bottom: 0;

            .btn-container{
                display: flex;
                align-items: center;
                column-gap: 5px;
                
            }
        }

        .not-show-filter-btn{
            font-size: 16px;
            font-weight: 700;
            display: none;
            align-items: center;
            padding: 0 10px;
            margin-top: 10px;
            margin-bottom: 0;

            .btn-container{
                display: flex;
                align-items: center;
                column-gap: 5px;
                
            }
        }
    
        .open-filter{
            z-index: 100;
            position: absolute;
            background-color: white;
            inset: 0;
            transition: 0.3s ease-in-out;
        }

        .close-filter{
            position: absolute;
            left: -400rem;
        }
        .all-products{
            padding: 0px 0;
            grid-template-columns: repeat(1,1fr);
            display: grid;
    
            .product-card{
                width: 85%;
                min-width: 200px;
                height: 85%;
            }
        }
    }
}

@media screen and (min-width:560px) {
    .product-listing{
        max-width: 1400px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 260px;
        }
        .all-products{
            padding: 15px 0;
            grid-template-columns: repeat(1,1fr);
            display: grid;
            gap: .7rem;
    
            .product-card{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width:620px) {
    .product-listing{
        max-width: 1400px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 350px;
        }
        .all-products{
            padding: 15px 0;
            grid-template-columns: repeat(1,1fr);
            display: grid;
            gap: .7rem;
    
            .product-card{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width:800px) {
    .product-listing{
        max-width: 1400px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 300px;
        }
        .all-products{
            padding: 15px 0;
            grid-template-columns: repeat(2,1fr);
            display: grid;
            gap: .7rem;
    
            .product-card{
                width: 95%;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .product-listing{
        max-width: 1400px;
        padding: 0 10px;
        column-gap: 1rem;
        display: flex;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 340px;
        }
        .all-products{
            padding: 9px 0;
            grid-template-columns: repeat(2,1fr);
            display: grid;
            gap: 0;
    
            .product-card{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .product-listing{
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 0px 0 10px;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 340px;
        }
        .all-products{
            padding: 9px 0;
            grid-template-columns: repeat(3,1fr);
            display: grid;
            gap: 0;
    
            .product-card{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width:1400px) {
    .product-listing{
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 0px 0 10px;
        .filters-on-btn{
            display: none;
        }
        .filter-sidebar{
            max-width: 370px;
        }
        .all-products{
            padding: 9px 0;
            grid-template-columns: repeat(3,1fr);
            display: grid;
            gap: 0;
    
            .product-card{
                width: 90%;
            }
        }
    }
}