.product-listing {
  max-width: 1200px;
  margin: 0 auto;
}
.product-listing .filter-sidebar {
  background-color: white;
}
.product-listing .all-products {
  padding: 15px 0;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
}
.product-listing .all-products .product-card {
  width: 85%;
  min-width: 200px;
  height: 85%;
}

@media screen and (max-width: 560px) {
  .product-listing {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
  .product-listing .filters-on-btn {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .product-listing .filters-on-btn .btn-container {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .product-listing .not-show-filter-btn {
    font-size: 16px;
    font-weight: 700;
    display: none;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .product-listing .not-show-filter-btn .btn-container {
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .product-listing .open-filter {
    z-index: 100;
    position: absolute;
    background-color: white;
    inset: 0;
    transition: 0.3s ease-in-out;
  }
  .product-listing .close-filter {
    position: absolute;
    left: -400rem;
  }
  .product-listing .all-products {
    padding: 0px 0;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
  }
  .product-listing .all-products .product-card {
    width: 85%;
    min-width: 200px;
    height: 85%;
  }
}
@media screen and (min-width: 560px) {
  .product-listing {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 260px;
  }
  .product-listing .all-products {
    padding: 15px 0;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    gap: 0.7rem;
  }
  .product-listing .all-products .product-card {
    width: 90%;
  }
}
@media screen and (min-width: 620px) {
  .product-listing {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 350px;
  }
  .product-listing .all-products {
    padding: 15px 0;
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    gap: 0.7rem;
  }
  .product-listing .all-products .product-card {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  .product-listing {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 300px;
  }
  .product-listing .all-products {
    padding: 15px 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 0.7rem;
  }
  .product-listing .all-products .product-card {
    width: 95%;
  }
}
@media screen and (min-width: 1000px) {
  .product-listing {
    max-width: 1400px;
    padding: 0 10px;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    display: flex;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 340px;
  }
  .product-listing .all-products {
    padding: 9px 0;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 0;
  }
  .product-listing .all-products .product-card {
    width: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .product-listing {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 0px 0 10px;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 340px;
  }
  .product-listing .all-products {
    padding: 9px 0;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 0;
  }
  .product-listing .all-products .product-card {
    width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  .product-listing {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 0px 0 10px;
  }
  .product-listing .filters-on-btn {
    display: none;
  }
  .product-listing .filter-sidebar {
    max-width: 370px;
  }
  .product-listing .all-products {
    padding: 9px 0;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 0;
  }
  .product-listing .all-products .product-card {
    width: 90%;
  }
}/*# sourceMappingURL=ProductsListing.css.map */