.product-listing{
    max-width: 1200px;
    margin: 0 auto;
    .all-products{
        padding: 15px 0;
        grid-template-columns: repeat(1,1fr);
        display: grid;

        .product-card{
            width: 85%;
            min-width: 200px;
            height: 85%;
        }
    }
}

@media screen and (min-width:560px) {
    .product-listing{
        max-width: 1200px;
        padding: 0 10px;
        margin: 0 auto;
        .all-products{
            padding: 15px 0;
            grid-template-columns: repeat(2,1fr);
            display: grid;
            gap: .7rem;
    
            .product-card{
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .product-listing{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        .all-products{
            padding: 9px 0;
            grid-template-columns: repeat(3,1fr);
            display: grid;
            gap: 0;
    
            .product-card{
                width: 90%;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .product-listing{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        .all-products{
            padding: 9px 0;
            grid-template-columns: repeat(3,1fr);
            display: grid;
            gap: 0;
    
            .product-card{
                width: 80%;
            }
        }
    }
}