.signup-page{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    .signup-page-container{
        display: flex;
        width: max-content;
        margin: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .signup-img-container{
            object-fit: cover;
            
            display: flex;
            img{
                object-fit: cover;width: 300px;
            }
        }

        .signup-inputs-container{
            display: flex;
            flex-direction: column;
            width: 300px;
            align-items: center;
            padding: 10px 10px;

            

            .input-header-container{
                margin: 13px 0;
                font-size: 28px;
                font-weight: 700;
                letter-spacing: 1.8px;
            }

            .signup-email-container{
                width: 100%;
                padding: 5px 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .signup-email-input{
                    width: 90%;
                    display: flex;
                    padding: 9px 10px;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 7px;
                    border-radius: 20px;
                    background-color: #ECECEC;

                    .user-icon{
                        font-size: 20px;
                        color: black;
                    }

                    input{
                        flex: 1;
                        font-size: 1rem;
                        padding: 2px 5px;
                        border: none;
                        outline: none;
                        background-color: #ECECEC;
                        
                    }
                }
            }

            .signup-password-input-container{
                width: 100%;
                padding: 5px 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 7px 0 0;

                .signup-password-input{
                    width: 90%;
                    display: flex;
                    padding: 9px 10px;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 7px;
                    border-radius: 20px;
                    background-color: #ECECEC;

                    .lock-icon{
                        font-size: 20px;
                        color: black;
                        font-weight: 900;
                    }

                    input{
                        flex: 1;
                        font-size: 1rem;
                        padding: 2px 5px;
                        border: none;
                        outline: none;
                        background-color: #ECECEC;
                        
                    }
                }
            }

            .signup-confirm-password-container{
                width: 100%;
                padding: 5px 9px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 7px 0;

                .signup-confirm-password-input{
                    width: 90%;
                    display: flex;
                    padding: 9px 10px;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 7px;
                    border-radius: 20px;
                    background-color: #ECECEC;


                    .lock-icon{
                        font-size: 20px;
                        color: black;
                        font-weight: 900;
                    }

                    input{
                        flex: 1;
                        font-size: 1rem;
                        padding: 2px 5px;
                        border: none;
                        outline: none;
                        background-color: #ECECEC;
                        
                    }
                }
            }

            .signup-btn-container{
                width: 100%;
                display: flex;
                margin: 10px 0;
                align-items: center;
                justify-content: center;
                .signup-btn{
                    width: 95%;
                    border: none;
                    outline: none;
                    background-color: #051937;
                    font-weight: 500;
                    color: white;
                    padding: 8px 0;
                    font-size: 18px;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }

            .bottom-border{
                border: 1px solid;
                width: 100%;
                margin-top: .7rem;
            }

            .social-media-container{
                display: flex;
                column-gap: 1rem;
                margin-top: 1.2rem;

                .socials-icon{
                    font-size: 28px;
                    cursor: pointer;
                }
            }
        }
    }
}


@media screen and (max-width:380px) {
    .signup-page{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        .signup-page-container{
            padding: 25px 0;
            display: flex;
            width: max-content;
            margin: auto;
            width: 100%;
    
            .signup-img-container{
                object-fit: cover;
                
                display: none;
                img{
                    object-fit: cover;width: 300px;
                }
            }
    
            .signup-inputs-container{
                display: flex;
                flex-direction: column;
                min-width: 100px;
                align-items: center;
                padding: 10px 0;
                margin: 0 auto;
                
    
                .input-header-container{
                    margin: 13px 0 20px;
                    width: max-content;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 1.8px;
                }
    
                .signup-email-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .signup-email-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .user-icon{
                            font-size: 20px;
                            color: black;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-password-input-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0 0;
    
                    .signup-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-confirm-password-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0;
    
                    .signup-confirm-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-btn-container{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    align-items: center;
                    justify-content: center;
                    .signup-btn{
                        width: 95%;
                        border: none;
                        outline: none;
                        background-color: #051937;
                        font-weight: 500;
                        color: white;
                        padding: 8px 0;
                        font-size: 18px;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
    
                .bottom-border{
                    border: 1px solid;
                    width: 80%;
                    margin-top: .7rem;
                }
    
                .social-media-container{
                    display: flex;
                    column-gap: 1rem;
                    margin-top: 1.2rem;
    
                    .socials-icon{
                        font-size: 28px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:380px) and (max-width:620px) {
    .signup-page{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        .signup-page-container{
            padding: 25px 5px;
            display: flex;
            width: max-content;
            margin: auto;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
            .signup-img-container{
                object-fit: cover;
                
                display: none;
                img{
                    object-fit: cover;width: 300px;
                }
            }
    
            .signup-inputs-container{
                display: flex;
                flex-direction: column;
                min-width: 100px;
                align-items: center;
                padding: 10px 10px;
    
                
    
                .input-header-container{
                    margin: 13px 0 20px;
                    width: max-content;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 1.8px;
                }
    
                .signup-email-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .signup-email-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .user-icon{
                            font-size: 20px;
                            color: black;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-password-input-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0 0;
    
                    .signup-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-confirm-password-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0;
    
                    .signup-confirm-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-btn-container{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    align-items: center;
                    justify-content: center;
                    .signup-btn{
                        width: 95%;
                        border: none;
                        outline: none;
                        background-color: #051937;
                        font-weight: 500;
                        color: white;
                        padding: 8px 0;
                        font-size: 18px;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
    
                .bottom-border{
                    border: 1px solid;
                    width: 100%;
                    margin-top: .7rem;
                }
    
                .social-media-container{
                    display: flex;
                    column-gap: 1rem;
                    margin-top: 1.2rem;
    
                    .socials-icon{
                        font-size: 28px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:720px) {
    .signup-page{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        display: flex;
        .signup-page-container{
            display: flex;
            width: max-content;
            margin: auto;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
            .signup-img-container{
                object-fit: cover;
                
                display: flex;
                img{
                    object-fit: cover;width: 380px;
                }
            }
    
            .signup-inputs-container{
                display: flex;
                flex-direction: column;
                width: 350px;
                align-items: center;
                padding: 10px 10px;
    
    
                .input-header-container{
                    margin: 13px 0;
                    font-size: 28px;
                    font-weight: 700;
                    letter-spacing: 1.8px;
                }
    
                .signup-email-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    .signup-email-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .user-icon{
                            font-size: 20px;
                            color: black;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-password-input-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0 0;
    
                    .signup-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-confirm-password-container{
                    width: 100%;
                    padding: 5px 9px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 7px 0;
    
                    .signup-confirm-password-input{
                        width: 90%;
                        display: flex;
                        padding: 9px 10px;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 7px;
                        border-radius: 20px;
                        background-color: #ECECEC;
    
    
                        .lock-icon{
                            font-size: 20px;
                            color: black;
                            font-weight: 900;
                        }
    
                        input{
                            flex: 1;
                            font-size: 1rem;
                            padding: 2px 5px;
                            border: none;
                            outline: none;
                            background-color: #ECECEC;
                            
                        }
                    }
                }
    
                .signup-btn-container{
                    width: 100%;
                    display: flex;
                    margin: 10px 0;
                    align-items: center;
                    justify-content: center;
                    .signup-btn{
                        width: 95%;
                        border: none;
                        outline: none;
                        background-color: #051937;
                        font-weight: 500;
                        color: white;
                        padding: 8px 0;
                        font-size: 18px;
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
    
                .bottom-border{
                    border: 1px solid;
                    width: 100%;
                    margin-top: 1.2rem;
                }
    
                .social-media-container{
                    display: flex;
                    column-gap: 1rem;
                    margin-top: 1.2rem;
    
                    .socials-icon{
                        font-size: 28px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}