@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");
.product-card {
  border-radius: 10px;
  margin: 50px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "Poppins", sans-serif;
}
.product-card .img-container {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  height: 220px;
  position: relative;
  width: 100%;
}
.product-card .img-container .discount-card {
  padding: 6px 18px;
  position: absolute;
  background-color: #DDA0DD;
  top: 12px;
  left: 12px;
  border-radius: 5px;
  color: black;
  font-weight: 700;
}
.product-card .img-container .discount-card .discount-amt {
  z-index: 1000;
  font-size: 16px;
}
.product-card .img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
.product-card .img-container:hover {
  overflow: hidden;
  transition: 0.3s ease-in;
}
.product-card .img-container:hover img {
  transform: scale(1.1);
  border-radius: 5px 5px 0 0;
}
.product-card .product-details {
  padding: 10px 10px;
}
.product-card .product-details .product-name-heading {
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.product-card .product-details .product-name-heading .product-name {
  font-size: 18px;
  font-weight: 900;
}
.product-card .product-details .product-description .product-desc {
  font-weight: 400;
  height: 60px;
  font-size: 15.5px;
  overflow-y: hidden;
}
.product-card .product-details .product-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
.product-card .product-details .btn-container {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin: 10px 0;
}
.product-card .product-details .btn-container .add-to-cart {
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #8A2BE2;
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  justify-content: center;
}
.product-card .product-details .btn-container .add-to-cart:hover {
  background-color: #8A2BE2;
  color: white;
}
.product-card .product-details .btn-container .add-to-cart .cart-icon {
  font-weight: 700;
  font-size: 20px;
}
.product-card .product-details .btn-container .buy-now-btn {
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: #8A2BE2;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: center;
}
.product-card .product-details .btn-container .buy-now-btn .bag-icon {
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 460px) {
  .product-card {
    width: 80%;
    max-width: 400px;
  }
  .product-card .img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    height: 240px;
    width: 100%;
  }
  .product-card .img-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in;
    cursor: pointer;
  }
  .product-card .product-details {
    padding: 10px 10px;
  }
  .product-card .product-details .product-name-heading {
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
  }
  .product-card .product-details .product-name-heading .product-name {
    font-size: 20px;
    font-weight: 900;
  }
  .product-card .product-details .product-description .product-desc {
    font-weight: 500;
    height: 60px;
    font-size: 18.5px;
    overflow-y: hidden;
  }
  .product-card .product-details .product-price {
    font-size: 21px;
    font-weight: 900;
    margin-top: 5px;
  }
  .product-card .product-details .btn-container {
    display: flex;
    -moz-column-gap: 1.2rem;
         column-gap: 1.2rem;
    margin: 10px 0;
  }
  .product-card .product-details .btn-container .add-to-cart {
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #8A2BE2;
    cursor: pointer;
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
  .product-card .product-details .btn-container .add-to-cart:hover {
    background-color: #8A2BE2;
    color: white;
  }
  .product-card .product-details .btn-container .add-to-cart .cart-icon {
    font-weight: 700;
    font-size: 20px;
  }
  .product-card .product-details .btn-container .buy-now-btn {
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #8A2BE2;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    -moz-column-gap: 2px;
         column-gap: 2px;
  }
  .product-card .product-details .btn-container .buy-now-btn .bag-icon {
    font-size: 20px;
    font-weight: 700;
  }
}
@media screen and (min-width: 460px) {
  .product-card {
    width: 80%;
    max-width: 350px;
  }
  .product-card .img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    height: 240px;
    width: 100%;
  }
  .product-card .img-container img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px 5px 0 0;
    transition: transform 0.3s ease-in;
    cursor: pointer;
  }
  .product-card .product-details {
    padding: 10px 10px;
  }
  .product-card .product-details .product-name-heading {
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
  }
  .product-card .product-details .product-name-heading .product-name {
    font-size: 20px;
    font-weight: 900;
  }
  .product-card .product-details .product-description .product-desc {
    font-weight: 500;
    height: 60px;
    font-size: 18.5px;
    overflow-y: hidden;
  }
  .product-card .product-details .product-price {
    font-size: 21px;
    font-weight: 900;
    margin-top: 5px;
  }
  .product-card .product-details .btn-container {
    display: flex;
    -moz-column-gap: 1.2rem;
         column-gap: 1.2rem;
    margin: 10px 0;
  }
  .product-card .product-details .btn-container .add-to-cart {
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #8A2BE2;
    cursor: pointer;
  }
  .product-card .product-details .btn-container .add-to-cart:hover {
    background-color: #8A2BE2;
    color: white;
  }
  .product-card .product-details .btn-container .buy-now-btn {
    padding: 13px 10px;
    font-size: 18px;
    font-weight: 700;
    background-color: #8A2BE2;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
}/*# sourceMappingURL=Product-Card.css.map */