.filters-sidebar {
  padding: 5px 0 15px 0;
}
.filters-sidebar .filters-form-container .filters-section .colors-section {
  padding: 10px 12px 0;
}
.filters-sidebar .filters-form-container .filters-section .colors-section .colors-filter-heading {
  font-size: 18px;
  font-weight: 900;
}
.filters-sidebar .filters-form-container .filters-section .colors-section .colors-selection-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}
.filters-sidebar .filters-form-container .filters-section .colors-section .colors-selection-filters .color-container {
  padding: 5px 14.5px;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.filters-sidebar .filters-form-container .filters-section .colors-section .colors-selection-filters .selected {
  border: 1px solid black;
}
.filters-sidebar .filters-form-container .filters-section .price-filter {
  padding: 0 10px;
}
.filters-sidebar .filters-form-container .filters-section .price-filter .filter-by-price .price-filter-heading {
  font-size: 18px;
  margin-bottom: 0.7rem;
}
.filters-sidebar .filters-form-container .filters-section .price-filter .filter-by-price .range-filter-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  row-gap: 8px;
}
.filters-sidebar .filters-form-container .filters-section .price-filter .filter-by-price .range-filter-container .labels-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
}
.filters-sidebar .filters-form-container .filters-section .price-filter .filter-by-price .range-filter-container .labels-container label {
  font-weight: 900;
  font-size: 18px;
}
.filters-sidebar .filters-form-container .filters-section .sorting-filter {
  padding: 5px 10px;
  margin: 5px 0;
}
.filters-sidebar .filters-form-container .filters-section .sorting-filter .sort-heading-container .sorting-heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.filters-sidebar .filters-form-container .filters-section .sorting-filter .sorting-container select {
  font-size: 18px;
  border: 1px solid;
  outline: none;
  padding: 10px 2px;
  font-weight: 500;
}
.filters-sidebar .filters-form-container .filters-section .sorting-filter .sorting-container select option {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: none;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}
.filters-sidebar .filters-form-container .filters-section .category-filters {
  padding: 0 10px;
}
.filters-sidebar .filters-form-container .filters-section .category-filters .category-filter-heading-container .category-filter-heading {
  font-size: 18px;
  font-weight: 700;
}
.filters-sidebar .filters-form-container .filters-section .category-filters .category-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
}
.filters-sidebar .filters-form-container .filters-section .category-filters .category-filter-container .category-container {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  flex-wrap: wrap;
  padding: 2px 7px;
  border: 1px solid white;
}
.filters-sidebar .filters-form-container .filters-section .category-filters .category-filter-container .category-container:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.filters-sidebar .filters-form-container .filters-section .category-filters .category-filter-container .selected {
  border: 1px solid #00ffff;
}/*# sourceMappingURL=filter.css.map */